@mixin flex-center($direction: column) {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: $direction;
}

@mixin flex-column {
	display: flex;
	flex-direction: column;
}
