@use 'sass:map';
@use '../themes/themes';

@each $theme, $colors in themes.$themes {
	[data-theme='#{$theme}'] {
		--color-background: #{map.get($colors, background)};
		--color-text: #{map.get($colors, text)};
		--color-player-blue: #{map.get($colors, player-blue)};
		--color-player-orange: #{map.get($colors, player-orange)};
		--color-background-header-box: #{map.get($colors, background-header-box)};
		--color-game-over-text: #{map.get($colors, game-over-text)};
		--color-game-over-bg: #{map.get($colors, game-over-bg)};
		--color-draw: #{map.get($colors, draw)};
	}
}

.game-page {
	max-width: 1217px;
	// height: 100vh;
	background-color: var(--color-background);
	color: var(--color-text);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.game-page-header {
	width: 100%;
	height: 102px;
	background-color: var(--color-background-header-box);
}

.game-board {
	display: grid;
	gap: 6px;

	&[data-board-size='16'] {
		grid-template-columns: repeat(4, 1fr);
	}

	&[data-board-size='24'] {
		grid-template-columns: repeat(6, 1fr);
	}

	&[data-board-size='36'] {
		grid-template-columns: repeat(6, 1fr);
	}
}

.memory-card {
	height: 120px;
	aspect-ratio: 1 / 1;
	background-color: transparent;
	border: none;

	&__inner {
		position: relative;
		width: 100%;
		height: 100%;
		transform-style: preserve-3d;
		transition: all 300ms ease-in-out;
	}

	&__face {
		position: absolute;
		inset: 0;
		// background-color: black;
		backface-visibility: hidden;

		&--back {
			transform: rotateY(180deg);
			// background-color: red;
		}
	}

	&.is-flipped .memory-card__inner {
		transform: rotateY(180deg);
	}
}
