@use 'sass:map';
@use '../themes/themes';
@use '../abstracts/mixin';

@each $theme, $colors in themes.$themes {
	[data-theme='#{$theme}'] {
		--color-background: #{map.get($colors, background)};
		--color-text: #{map.get($colors, text)};
		--color-player-blue: #{map.get($colors, player-blue)};
		--color-player-orange: #{map.get($colors, player-orange)};
		--color-background-header-box: #{map.get($colors, background-header-box)};
		--color-game-over-text: #{map.get($colors, game-over-text)};
		--color-game-over-bg: #{map.get($colors, game-over-bg)};
		--color-draw: #{map.get($colors, draw)};
		--header-font: #{map.get($colors, header-font)};
		--header-font-weight: #{map.get($colors, header-font-weight)};
	}
}

.game-page {
	max-width: 1217px;
	width: 100%;
	margin: 0 auto;
	background-color: var(--color-background);
	color: var(--color-text);
	display: flex;
	align-items: center;
	flex-direction: column;

	&__header {
		padding: 24px;
		width: 100%;
		height: 100px;
		background-color: var(--color-background-header-box);
		margin: 20px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 32px;
		font-family: var(--header-font);
		font-weight: var(--header-font-weight);

		> img {
			width: 173px;
		}
	}

	&__score-board {
		font-family: 'Delius Unicase';
		font-weight: 700;
		font-size: 30px;
		padding: 0 16px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 40px;
		width: 159px;
		height: 54px;
		border-radius: 10px;
		background-color: white;

		&--single-score {
			display: flex;
			align-items: center;

			&-orange {
				color: var(--color-player-orange);
			}

			&-blue {
				color: var(--color-player-blue);
			}
		}
	}

	&__currentPlayerBox {
		@include mixin.flex-center(row);
	}

	&__showActivePlayer {
		@include mixin.flex-center(row);
		width: 41px;
		height: 40px;
		background-color: var(--color-player-blue);
	}

	&__board {
		display: grid;

		&[data-board-size='16'] {
			grid-template-columns: repeat(4, 1fr);
			gap: 16px;
		}

		&[data-board-size='24'] {
			grid-template-columns: repeat(6, 1fr);
			gap: 10px;
		}

		&[data-board-size='36'] {
			grid-template-columns: repeat(6, 1fr);
			gap: 8px;
		}
	}
}

.memory-card {
	height: 120px;
	aspect-ratio: 1 / 1;
	background-color: transparent;
	border: none;

	&__inner {
		position: relative;
		width: 100%;
		height: 100%;
		transform-style: preserve-3d;
		transition: all 300ms ease-in-out;
	}

	&__face {
		position: absolute;
		inset: 0;
		backface-visibility: hidden;

		&--back {
			transform: rotateY(180deg);
		}
	}

	&.is-flipped .memory-card__inner {
		transform: rotateY(180deg);
	}
}
