@use '../abstracts/mixin';

.main-page {
	min-height: 100vh;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;

	&--content {
		display: flex;
		flex-direction: column;
		width: 1100px;
		position: relative;

		> section {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			position: relative;
		}
	}

	&__settings-header {
		font-family: 'Red Rose';
		font-weight: 700;
		font-size: 54px;
		margin-bottom: 64px;
		position: relative;

		> img {
			position: absolute;
			bottom: -24px;
			left: -24px;
			width: 251px;
		}
	}
}

.settings-detail {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	border: 0;
}

.flex-column {
	@include mixin.flex-column;
}

.settings-group {
	font-family: 'Almarai';
	min-width: 0;
	margin: 0;
	padding: 0;
	border: 0;

	&:not(:first-child) {
		margin-top: 64px;
	}

	&--legend {
		font-weight: 700;
		font-size: 24px;
	}

	&--items {
		display: grid;
		grid-template-columns: 24px 180px auto;
		align-items: center;
		column-gap: 12px;

		font-size: 20px;
		font-weight: 400;
		cursor: pointer;
		min-height: 35px;
		margin-left: 40px;

		> input[type='radio'] {
			appearance: none;
			width: 22px;
			height: 22px;
			margin: 0 8px 0 0;
			border: 2px solid rgba(48, 49, 49, 1);
			border-radius: 50%;
			background: white;
			cursor: pointer;
			position: relative;
			transition: 0.2s;

			&::before {
				content: '';
				position: absolute;
				width: 8px;
				height: 8px;
				top: 50%;
				left: 50%;
				border-radius: 50%;
				background: rgba(48, 49, 49, 1);
				transform: translate(-50%, -50%) scale(0);
				transition: 0.2s;
			}

			&:checked::before {
				transform: translate(-50%, -50%) scale(1);
			}

			&:focus-visible {
				outline: 3px solid #8ec5ff;
				outline-offset: 3px;
			}
		}

		&:hover,
		&:has(input:checked) {
			.settings-label-text {
				font-weight: 700;
			}

			> input[type='radio'] {
				border: 1px solid rgba(48, 49, 49, 1);
				
				&::before {
					transform: translate(-50%, -50%) scale(1);
				}
			}

			.settings-line {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.settings-label-text {
	display: inline-block;
	width: 180px;
}

.settings-line {
	opacity: 0;
	visibility: hidden;
	transition: opacity 150ms ease;
}

aside {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

> img {
	width: 460px;
	height: 412px;
}

	> section {
		margin-top: 45px;
		width: 546px;
		height: 81px;
		padding: 14px 20px 14px 20px;
		background-color: #F6F6F6;
	}
}