$themes: (
	code: (
		background: #303131,
		// text current player
		text: #ffffff,
		player-blue: #097fc5,
		player-orange: #ea6900,
		background-header-box: #303131,
		game-over-text: #4dd5bc,
		game-over-bg: #303131,
		draw: #4dd5bc,
	),

	game: (
		background: #294f60,
		text: #ffffff,
		player-blue: #097fc5,
		player-orange: #ea6900,
		background-header-box: #535d75,
		game-over-text: #ed1b76,
		game-over-bg: #294f60,
		draw: #ed1b76,
	),

	food: (
		background: #ffffff,
		text: #a45212,
		player-blue: #097fc5,
		player-orange: #ea6900,
		background-header-box: #f0e5d9,
		game-over-text: #ffffff,
		game-over-bg: #f3832d,
		draw: #f3832d,
	),
);
