/* almarai-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Almarai';
	font-style: normal;
	font-weight: 400;
	src: url('./assets/fonts/almarai-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* red-rose-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Red Rose';
	font-style: normal;
	font-weight: 400;
	src: url('./assets/fonts/red-rose-v25-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* red-rose-700 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Red Rose';
	font-style: normal;
	font-weight: 700;
	src: url('./assets/fonts/red-rose-v25-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

a,
button {
	cursor: pointer;
	text-decoration: none;
}

.d_none {
	display: none;
}

body {
	height: 100vh;
	background-color: #303131;
}

.center-box {
	// position: fixed;
	// top: 339px;
	// left: 225px;
	margin: 0 auto;
	height: 229px;
	width: 991px;

	&__text {
		font-family: 'Red Rose';
		font-style: normal;
		font-weight: 400;
		color: #ffffff;
		font-size: 48px;

		&--big {
			font-weight: 700;
			font-size: 140px;
		}
	}
}
